@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400";

html {
	background-image: url("aled.jpg");
  	background-color: #000;
  	background-size: auto;
  	background-repeat: no-repeat;
  	font-family: "Source Sans Pro", sans-serif;
  	font-size: 17pt;
  	color: #FFF;
}

/* Main */
	#main {
		background-color: #ffffff;
		color: #636363;
		border-bottom-left-radius: 1em;
		border-bottom-right-radius: 1em;
		min-height: 31em;
	}

/* Input */
	input[type=text] {
		width: 100%;
		border: none;
		box-sizing: border-box;
  		border-bottom: 4px solid #636363;
  		background-color: #E6E6E6; 
  		height: 3.5em;
  		position: relative;
  		top: -2em;
  		border-bottom-left-radius: 1em;
		border-bottom-right-radius: 1em;
		outline: none;
		background-image: url('qm.png');
  		background-position: 11px 8px;
  		background-size: 25px;
  		background-repeat: no-repeat;
  		padding: 0px 0px 0px 50px;
  		resize: none;
	}
	form
	{
		margin-top: 0.4em;
	}

/* Wrapper */
	#wrapper {
		width: 40em;
		max-width: calc(100% - 4em);
		margin: 3.5em auto;
	}

		@media screen and (max-width: 480px) {
			#wrapper {
				max-width: calc(100% - 2em);
			}
		}

		@media screen and (max-width: 360px) {
			#wrapper {
				max-width: 100%;
			}
		}

/* Nav */
	#nav {
			color: #636363;
			background-color: #E6E6E6;
			border-top-left-radius: 1em;
			border-top-right-radius: 1em;
			text-align: center;	
		}

	#nav ul {
			margin: 0;
		}

	#nav ul li {
			display: inline-block;
			margin: 0 0.35em;
		}

		#nav ul li a {
				display: inline-block;
				line-height: 2.25em;
				padding: 0 1.25em;
				border-radius: 8px;
			}

/* Chat containers */
	.container {
  		background-color: #ffffff;
  		padding: 10px;
	}

/* Darker chat container */
	.darker {
		border-color: #ccc;
  		background-color: #ddd;
  		text-align: right;
	}

/* Clear floats */
	.container::after {
  		content: "";
  		clear: both;
  		display: table;
	}

/* Style time text */
	.time-right {
  		float: right;
  		color: #aaa;
	}

/* Style time text */
	.time-left {
  		float: left;
  		color: #999;
	}

